{% extends "base.html" %}
{% block head_title %}Dashboard {{ block.super }}{% endblock %}
{% block body %}

{% include "nav.html" %}

{% block messages %}{{ block.super }}{% endblock %}

<div class="container">
  <div class="row">
  {% if appointments|length %}
    {% for a in appointments %}
        <div class="col-xs-12 col-md-6 appointment-info" data-appointment-id="{{ a.id }}">
            <div class="alert {{ a.status|slugify }}">
                <div class="status pull-right">{{ a.status|default:"No Status!" }}</div>
                <div class="patient">{{ a.patient.last_name }}, {{ a.patient.first_name }}</div>
                <div class="scheduled_time">{{ a.scheduled_time }}, {{ a.end_time }}, {{ a.duration }} minutes</div>
            </div>
        </div>
    {% endfor %}
  {% else %}
    No appointments
  {% endif %}
  </div>
</div>
{% endblock %}