{% load staticfiles %} {% load app_filters %} {% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Birthday Wisher</title>
<link type="image/png"	href="https://app.drchrono.com/site_media/images/favicon.png"	rel="icon"></link>
<!--STYLESHEETS-->
<link href="{% static 'styling.css' %}" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript"	src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"	crossorigin="anonymous">
<link rel="stylesheet"	href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js" integrity="sha256-1O3BtOwnPyyRzOszK6P+gqaRoXHV6JXj8HkjZmPYhCI="	crossorigin="anonymous"></script>
<script	src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://use.fontawesome.com/dc678cf104.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"	integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg="	crossorigin="anonymous"></script>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<img src="/static/logo-dark.svg" vspace="5">
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class=""><a href="#">Birthday Wisher</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Signed in as {{ user }}<span	class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/">Log Out</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
	</nav>
<script>
$(document).ready(function(){
$('#table1 tr').each(function() {
    if ($(this).find('td:empty(.em)').length){ 
	$(this).find('#d :checkbox').attr('disabled', true);
	$(this).find('#d1 textarea').attr('disabled',true);
     }
});

$("#t").click(function () {
	$('#table1 tr').each(function() {
		if (!$(this).find('#d :checkbox').is(':disabled') ) {
			if(!$(this).find('#d :checkbox').is(':checked')){             
    				$(this).find('#d :checkbox').prop('checked', true);
			}
			else if($(this).find('#d :checkbox').is(':checked')){             
    				$(this).find('#d :checkbox').prop('checked', false);
			}
   		}
		
	});

});

});
</script>

	<form name="send-form" action="/send/" method="POST">
		{% csrf_token %}
		<div class="container-fluid">
			<h3 style="margin-top: -5px; margin-bottom: 10px">Show How Much You Care About Your Patients Through These Birthday Messages</h3>
			<div class="table_container row-fluid">
				<table style="width: 100%" id="table1" style="opacity: 1;"
					class="table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th><input type="checkbox" id="t"></th>
						<th>Name</th>
						<th>DOB</th>
						<th>Email</th>
						<th>Greeting</th>
					</tr>

					{% for obj in uobj %}
					<tr>
						<td id="d"><input type="checkbox" id="n" name="checks" value="{{ forloop.counter0 }}"></td>
						<td>{{obj.0 }} {{obj.1 }}</td>
						<td>{{obj.2 }}</td>
						<td class="em" id="{{obj.4 }}">{{obj.3 }}</td>
						<td id="d1" style="width: 550px;"><textarea
								style="width: 330px; height: 43px;" name="dumps+{{ forloop.counter0 }}"> Hi, {{obj.0}} {{obj.1}} : 
Happy Birthday to you ! Have a nice year!</textarea> 
						{% if obj.5 == "true" %} 
						<label style="color: rgb(48, 149, 73); font-weight: normal; font-size: 20px; padding-left: 1rem;"> Message Sent! </label> 
						{% elif obj.5 == "failed" %} 
						<label style="color: red; font-weight: normal; font-size: 20px; padding-left: 1rem;"> Delivery Failed! </label> {% endif %}</td>
					</tr>
					{% endfor %}

				</table>
				{% if uobj %} 
				<input type="submit" name="Send Mail" value="Send Mail" class="btn btn-primary pull-right" style="margin-top: -5px; margin-bottom: 10px; margin-right: 10px;" />
				{% elif not uobj %} 
				<label style="color: rgb(48, 149, 73); font-weight: normal; font-size: 20px; padding-left: 1rem; margin-left: 400px;">There are no patients celebrating birthday today! </label> {% endif %}
			</div>
	</form>
	</div>
</body>
</html>
