{% extends "base.html" %}
{% block head_title %}Welcome {{ block.super }}{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">
            DrChrono Kiosk allows patients to self check-in and indicates to healthcare providers how long
            patients have been waiting.
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="{% url 'social:begin' 'drchrono' %}" role="button">Sign in with DrChrono <i
                    class="glyphicon glyphicon-arrow-right"></i></a>
            <a class="btn btn-default">Learn More</a>
        </p>
    </div>

    <footer class="footer">
        <p>Made with <a href="https://djangoproject.com">Django</a> and the <a href="https://www.drchrono.com/api/">
            DrChrono API</a></p>
    </footer>
</div>
{% endblock %}
